@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="jumbo-heading">Red Carpet Movies</h1>
    
</div>

<div class="row">
    <div class="col-md-3" id="col-1">
        <h2>Sign Up a New Customer</h2>
        <hr/>
        <p>
            New customer in the store? At just the click of a button, you can make sure all the requirements of a successful cinematic adventure come true!
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-3" id="col-2">
        <h2>Rent Movies Now</h2>
        <hr/>
        <p>At the click of a button, you can help the customer pick the right movie, check them out efficently, and make sure they get home in time to enjoy their movie experience!</p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301866">Rent Movies &raquo;</a></p>
    </div>
    <div class="col-md-3" id="col-3">
        <h2>Discounts</h2>
        <hr/>
        <p>Let the customer know about our Membership Discount! With a membership, the customer can receive up to 30 percent off their next rental!</p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Discuss Prices &raquo;</a></p>
    </div>
</div>