body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: black;
    background-image: url(img/rc-background-photo-wheel-final.jpg);
    color: red;
    font-size: 15px;
    font-weight: bold;
}

/*Jumbotron*/

.jumbotron {
    background-image: url(img/rc-jumbo-photo.jpeg)
}

#jumbo-heading {
    color: red;
    font-size: 120px;
    text-shadow: 0px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*Body*/

h2 {
    color: white;
    text-align: center;
}
#col-1 {
    background-color: red;
    opacity: 0.75;
    border-radius: 30px;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 10px;
    font-size: 20px;
    width: 300px;
}
#col-2 {
    background-color: red;
    opacity: 0.75;
    border-radius: 30px;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 120px;
    font-size: 20px;
    width: 300px;
    
}
#col-3 {
    background-color: red;
    opacity: 0.75;
    border-radius: 30px;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 130px;
    font-size: 20px;
}

/*Rental Form View*/

#rental-form-heading {
    color: white;
    font-size: 60px;
    text-shadow: 0px 2px 0 red, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-left: 20px;
}

.rental-form-label {
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 2px 0 red, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#newRental {
    background-color: black;
    opacity: 0.8;
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    padding-bottom: 25px;
    width: 60%;
}

#rental-label {
    margin-right: 285px;
}

/*Customer Page*/
#customers {
    background-color: black;
    opacity: 0.9;
    color: red;
    font-weight: bold;
}

label {
    color: red;
}

#customers-info {
    color: red;
}

#new-customer-form {
    background-color: black;
    opacity: 0.8;
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    padding-bottom: 25px;
    width: 60%;
}

.form-control {
    margin-left: 200px;
}

/*Movies*/

#movies {
    background-color: black;
    opacity: 0.9;
    color: red;
    font-weight: bold;
}

/*Register/Login Pages*/

#RegisterForm {
    background-color: black;
    opacity: 0.8;
    text-align: center;
    margin-top: 30px;
    margin-left: 190px;
    padding: 25px 0px 25px 155px;
    width: 75%;
}

#register-form {
    font-size: 15px;
}

#register-textbox {
    margin-left: -140px;
}
.text-danger {
    text-align: left;
}
#register-button {
    margin: auto;
}

#login-subheading {
    color: white;
    font-size: 30px;
    /*text-shadow: 0px 2px 0 red, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

#loginForm {
    background-color: black;
    opacity: 0.8;
    padding: 25px;
    width: 75%;
    margin-top: 20px;
}

#login-textbox {
    margin-left: -200px;
}

#socialLoginForm {
    background-color: black;
    opacity: 0.8;
    padding: 25px;
    margin: 20px -45px 0px 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error, label.error {
    color: red;
}

.input-validation-error, input.error {
    border: 2px solid red;
}

/*Footer*/

a {
    color: white;
    
}

.copyright {
    color: white;
    text-shadow: 0px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
